# Express Server Port
PORT=5000

# MongoDB Connection String (Replace <db_password> with your actual Atlas database password)
MONGO_URI=mongodb+srv://satputesaurabh169_db_user:<db_password>@cluster0.bg21nlj.mongodb.net/urja_foods?retryWrites=true&w=majority&appName=Cluster0

# JWT Secret Key for Authentication
JWT_SECRET=urjafodds123456

# Node Environment (development / production)
NODE_ENV=development

# Allowed Frontend URL for CORS
FRONTEND_URL=https://urja-foods-project-one.vercel.app/
